---
layout: default_home
title: Home
---


<h2 id="days_in_asia">435 Days In Asia <i class="fa fa-youtube-play" aria-hidden="true"></i></h2>
<div class="youtube">
	<div class="embed-responsive embed-responsive-16by9 text-center">
		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/e7AzBqt4_p0?rel=0&amp;showinfo=0"></iframe>
	</div>
</div>

<h2 id="brunei">Brunei</h2>
	<div class="row">
		{% for post in site.categories.brunei %}
			{% include thumbnail.html%}
		{% endfor %}
	</div>
<h2 id="burma">Burma (Myanmar)</h2>
	<div class="row">
		{% for post in site.categories.burma %}
			{% include thumbnail.html%}
		{% endfor %}
	</div>
<h2 id="cambodia">Cambodia</h2>
	<div class="row">
		{% for post in site.categories.cambodia %}
			{% include thumbnail.html%}
		{% endfor %}
	</div>
<h2 id="india">India</h2>
	<div class="row">
		{% for post in site.categories.india %}
			{% include thumbnail.html%}
		{% endfor %}
	</div>
<h2 id="indonesia">Indonesia</h2>
	<div class="row">
		{% for post in site.categories.indonesia %}
			{% include thumbnail.html%}
		{% endfor %}
	</div>
<h2 id="laos">Laos</h2>
	<div class="row">
		{% for post in site.categories.laos %}
			{% include thumbnail.html%}
		{% endfor %}
	</div>
<h2 id="malaysia">Malaysia</h2>
	<div class="row">
		{% for post in site.categories.malaysia %}
			{% include thumbnail.html%}
		{% endfor %}
	</div>
<h2 id="singapore">Singapore</h2>
	<div class="row">
		{% for post in site.categories.singapore %}
			{% include thumbnail.html%}
		{% endfor %}
	</div>
<h2 id="srilanka">Sri Lanka</h2>
	<div class="row">
		{% for post in site.categories.srilanka %}
			{% include thumbnail.html%}
		{% endfor %}
	</div>
<h2 id="thailand">Thailand</h2>
	<div class="row">
		{% for post in site.categories.thailand %}
			{% include thumbnail.html%}
		{% endfor %}
	</div>
<h2 id="vietnam">Vietnam</h2>
	<div class="row">
		{% for post in site.categories.vietnam %}
			{% include thumbnail.html%}
		{% endfor %}
	</div>

<h2 id="map">Where I've Been:</h2>
<div id="map-canvas"></div>
