<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Vincent Humeau">
<link rel="shortcut icon" href="{{ site.github.url }}/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{ site.github.url }}/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{{ site.github.url }}/css/style-travel-log.css"/>

<script src="https://use.fontawesome.com/5e05291ca9.js"></script>
<!-- Chrome, Firefox OS, Opera and Vivaldi -->
<meta name="theme-color" content="#dc574e">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#dc574e">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#dc574e">
