<div id="navbar" off-canvas="slidebar-left left reveal">
	<img src="{{ site.baseurl }}/img/portrait.png" alt="vincent humeau" id="portrait-img" class="img-circle img-responsive"/>
	<p id="nav-description">Hello, My name is Vince and I travel around the world!</p>
	<ul class="list-inline icon-links">
		<li><a href="https://www.vincent-humeau.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></li>
		<li><a href="https://github.com/vinceumo" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
		<li><a href="https://www.youtube.com/user/MrChezeus" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
	</ul>
	<ul id="nav-items">
		<li><a href="{{ site.baseurl }}">Home</a></li>
		<li><a href="{{ site.baseurl }}/#days_in_asia">435 Days In Asia <i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
		<li><a href="{{ site.baseurl }}/#brunei">Brunei</a></li>
		<li><a href="{{ site.baseurl }}/#burma">Burma (Myanmar)</a></li>
		<li><a href="{{ site.baseurl }}/#cambodia">Cambodia</a></li>
		<li><a href="{{ site.baseurl }}/#india">India</a></li>
		<li><a href="{{ site.baseurl }}/#indonesia">Indonesia</a></li>
		<li><a href="{{ site.baseurl }}/#laos">Laos</a></li>
		<li><a href="{{ site.baseurl }}/#malaysia">Malaysia</a></li>
		<li><a href="{{ site.baseurl }}/#singapore">Singapore</a></li>
		<li><a href="{{ site.baseurl }}/#srilanka">Sri Lanka</a></li>
		<li><a href="{{ site.baseurl }}/#thailand">Thailand</a></li>
		<li><a href="{{ site.baseurl }}/#vietnam">Vietnam</a></li>
	</ul>
</div>
	<button type="button" id="open-left-sidebar" class="btn btn-link js-toggle-left-slidebar"><i class="fa fa-bars" aria-hidden="true"></i></button>
