<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "nav.html" . -}}
        <main id="main-content">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('{{ $.Site.BaseURL }}/sw.js');
                });
            }
        </script>
    </body>
</html>
