{{ define "main" }}
  {{- partial "header--single.html" . -}}
  <div class="container">
    {{ if .Content }}
      <div class="has-mb-5">
        {{ .Content }}
      </div>
    {{ end }}
    {{ if .Params.HasGallery }}
      {{- partial "gallery.html" . -}}
    {{ end }}
    <ul class="list-unstyle is-d-flex is-justify-between has-mt-7">
      {{if .PrevPage}}
      <li>
        <a href="{{ .PrevPage.URL }}">
           < Previous | <b>{{ .PrevPage.Title }}, {{ .PrevPage.Params.Country }}</b>
        </a>
      </li>
      {{ end }}
      {{if .NextPage}}
      <li class="has-text-right">
        <a href="{{ .NextPage.URL }}">
            <b>{{ .NextPage.Title }}, {{ .NextPage.Params.Country }}</b> | Next >
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
{{ end }}