.nav-bar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: spacer(2) spacer(3);
  background-color: color(light);
  z-index: z('navigation-bar');

  .brand {
    display: flex;
    align-items: flex-end;
  
    img {
      width: 150px;
      margin-right: 0.5rem;
    }
  }
} 
