<footer class="has-py-6">
  <div class="container">
    {{- partial "breadcrumb.html" . -}}
    <hr>
    <ul class="has-mt-5 list-inline has-text-center">
      <li><a href="https://github.com/vinceumo/travel-log">Code</a></li>
      <li><a href="https://www.vincent-humeau.com/">vincent-humeau.com</a></li>
      <li><a href="https://www.instagram.com/vince_umo/">Instagram</a></li>
      <li><a href="{{ $.Site.BaseURL }}/index.xml">RSS</a></li>
      <li><a href="{{ $.Site.BaseURL }}/all-posts/">All posts</a></li>
    </ul>
  </div>
</footer>
