<div class="container">
    <div class="has-mt-6">
        {{ .Content }}
    </div>
    {{ range .Site.Pages.GroupByParam "region" "title"}}
        {{ $regionId := .Key | urlize}}
        <h2 class="has-mt-7" id="{{ $regionId }}">{{ .Key }}</h2>
        <ul class="list-unstyle">
            {{ range .Pages.GroupByParam "country" "title"}}
                {{ $countryId := .Key | urlize}}
                <li id="{{ $regionId }}_{{ $countryId }}">
                    <h3 class="has-mt-6">{{ .Key }}</h3>
                    <ul class="list-unstyle grid has-cols-2 has-cols-md-3 has-cols-lg-4 has-cols-xl-5 has-grid-gap-2 has-grid-gap-sm-3">
                        {{ range .Pages.ByTitle }}
                            <li class="thumbnail">
                                <a href="{{ .URL }}" class="post__title">
                                    {{ $thumbnail := .Resources.GetMatch (printf "**%s" .Params.thumbnail) }}
                                    {{ $thumbnailCrop := $thumbnail.Fill "300x300 center" }}
                                    <img class="img-fluid" src="{{ $thumbnailCrop.RelPermalink }}" alt=""><br>
                                    <b>{{ .Title }}</b><br>
                                    {{ .Params.Country }}
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </li> 
            {{ end }}
        </ul>
    {{ end }}
 </div>