<div class="container">
    {{ range .Site.Pages.GroupByParam "region" "title"}}
        {{ $regionId := .Key | urlize}}
        <h2 id="{{ $regionId }}">{{ .Key }}</h2>
        <ul>
            {{ range .Pages.GroupByParam "country" "title"}}
                {{ $countryId := .Key | urlize}}
                <li id="{{ $regionId }}_{{ $countryId }}">{{ .Key }}
                    <ul>
                        {{ range .Pages.ByTitle }}
                            <li>
                                <a href="{{ .URL }}" class="post__title">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </li> 
            {{ end }}
        </ul>
    {{ end }}
     {{ .Content }}
 </div>