<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Travel Log - {{ page.title }}</title>
		{% include head.html%}
	</head>
	<body>
		{% include navindex.html%}
		<div class="container-fluid" canvas="container">
			{% include page-header.html%}

			{{content}}

			{% include footer.html%}

		</div><!--End Container-Fluid-->
		{% include script-end.html%}
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvAfR1jrgpbcLpnD9td43BwBYzIKUHmh4"></script>
		<script src="{{ site.github.url }}/js/citylist.js"></script>
		<script src="{{ site.github.url }}/js/googlemap2.js"></script>
	</body><!--END BODY-->
</html>
